* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1360px;
  margin: auto;
}

.jumbotron {
  padding: 225px 0;
  background-image: url("/images/jumbotron.jpg");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
}

a {
  font-size: 14px;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
}

header ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

header ul li a:hover {
  text-decoration: underline;
}

header .header-top {
  padding: 5px 0;
  background-color: #0582f9;
}

header .header-top ul {
  text-align: right;
}

header .header-top ul li:first-child {
  padding-right: 30px;
}

header .header-top ul li a {
  color: #fff;
}

header .header-bottom {
  height: 115px;
  border-bottom: 1px solid lightgrey;
}

header .header-bottom nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-bottom nav .logo {
  height: 115px;
  display: flex;
  align-items: center;
}

header .header-bottom nav .logo img {
  width: 86px;
  display: inline-block;
}

header .header-bottom nav .menu {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

header .header-bottom nav .menu ul {
  display: inline-block;
  line-height: 115px;
}

header .header-bottom nav .menu ul li {
  padding: 0 20px;
}

header .header-bottom nav .menu ul li a.active {
  border-bottom: 5px solid #0582f9;
}

header .header-bottom nav .menu ul li a {
  display: inline-block;
  height: 115px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #464646;
}

header .header-bottom nav .menu ul li a:hover {
  color: #0282f9;
  text-decoration: none;
}

section.dc-series {
  background-color: #1c1c1c;
}

section.dc-series h1 {
  display: inline-block;
  transform: translateY(-50%);
  padding: 20px;
  color: #fff;
  background-color: #0582f9;
}

section.dc-series .cards {
  display: flex;
  flex-wrap: wrap;
}

section.dc-series .cards .dc-card {
  display: inline-block;
  width: 223px;
  padding: 10px;
  color: #fff;
}

