* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1360px;
    margin: auto;
}

.jumbotron {
    padding: 225px 0;
    background-image: url('/images/jumbotron.jpg');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}

a {
    font-size: 14px;
}
